.icon {
    font-size: 30px;
    color: var(--text-color);
    padding: 5px;
    transition: transform 0.3s ease
}

.container {
    margin-top: 15px;
}

.icon:hover {
    transform: translateY(2px);
}