p {
  font-size: 22px;
}

.box {
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 70%;
  margin: auto;
  padding: 70px 0;
}

.title {
  font-size: 6rem;
  color: rgb(0, 0, 0);
  margin: 0;
}

.subtitle {
  font-size: 4rem;
}

.nav {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #000000;
  font-size: 26px;
  width: fit-content;
  margin-bottom: 5px;
  padding: 5px 30px;
}

@media screen and (max-width: 520px) {
  .title {
    font-size: 4rem;
  }

  .subtitle {
    font-size: 3rem;
  }
  .box {
    padding: 40px 0;
  }
}
