p {
  font-size: 22px;
}

.container {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 60px;
  width: 100%;
  text-align: center;
  align-items: center;
}

.box {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: auto;
  padding: 110px 0;
  width: 100%;
  align-items: center;
}

.box > div:first-child {
  flex: 1;
  max-width: 700px;
}

.box > div:last-child {
  flex: 1;
}

.box * {
  font-weight: normal;
}

.title {
  font-size: 6rem;
  font-weight: normal;
  color: var(--text-color);
  margin: 0;
}

.summary {
  color: var(--text-color);
}


.subtitle {
  color: var(--text-color);
  font-weight: normal;
  font-size: 3rem;
  margin: 0 0 20px 0;
}

.nav {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: var(--background-color);
  font-size: 28px;
  width: fit-content;
  margin-bottom: 5px;
  padding: 5px 30px;
}

.section {
  display: flex;
  text-align: left;
}

@media screen and (max-width: 520px) {
  .title {
    font-size: 3rem;
  }

  .container {
    padding: 36px 0;
  }

  .subtitle {
    font-size: 2rem;
  }
  .box {
    padding: 36px 0;
  }
}
